
    <button (click)="getLecturerById(1)">asd</button>
<p-table [value]="lessons">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Номер занятия</th>
            <th>Название предмета</th>
            <th>Преподаватель</th>
            <th>Кабинет</th>
        </tr>
    </ng-template> 
    <ng-template pTemplate="body" let-rowData let-i="rowIndex">
        <tr>
            <td *ngIf="i % 4 == 0" rowspan="4">{{days[ i / 4 ]}}</td>
            <td>{{ (i % 4) + 1 }}</td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                       <p-autoComplete [(ngModel)]="rowData.subject" [suggestions]="filteredSubjects" field="label" (completeMethod)="search($event)"  [dropdown]="true"></p-autoComplete>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.subject.label||rowData.subject}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td (click)="displayModal(i)">
            <p *ngFor="let row of rowData.rows">
                        {{getLecturerById(row.lecturer)}}
            <p>
             </td>
             <td (click)="displayModal(i)">
            <p *ngFor="let row of rowData.rows">
                        {{getRoomById(row.room)}}
            <p>
             </td>
            <td> <button (click)="check($event)">me</button></td>
        </tr>
    </ng-template>
</p-table>
<ad-component [data]="items" (events)="receiveEvents($event)"></ad-component>
