
    <p-dropdown [options]="days" [(ngModel)]="selectedWeek" required="true" [filter]="true" placeholder="Select a date"></p-dropdown>
<p-table [value]="lessons">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Номер занятия</th>
            <th>Название предмета</th>
            <th>Преподаватель</th>
            <th>Кабинет</th>
        </tr>
    </ng-template> 
    <ng-template pTemplate="body" let-rowData let-i="rowIndex">
        <tr>
            <td *ngIf="i % 5 == 0" rowspan="5">{{daysOfWeek[ i / 5 ]}}</td>
            <td>{{ (i % 5) + 1 }}</td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                       <p-autoComplete [(ngModel)]="rowData.subject" [suggestions]="filteredSubjects" field="label" (completeMethod)="search($event)"  [dropdown]="true"></p-autoComplete>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.subject.label||rowData.subject}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td (click)="displayModal(i)">
            <ul><li *ngFor="let row of rowData.locations">
                        {{getLecturerById(row.lecturer)}}
            </li></ul>
             </td>
             <td (click)="displayModal(i)">
            <ul><li *ngFor="let row of rowData.locations">
                        {{getRoomById(row.room)}}
            </li></ul>
             </td>
        </tr>
    </ng-template>
</p-table>
<ad-component [data]="items" (events)="receiveEvents($event)"></ad-component>
