<button (click)="loadTimetableData()">check</button>
<button (click)="updateTimetable()">update</button>
<button (click)="downloadTimetablePDF()">pdf</button>
    <p-dropdown [options]="weeks" [(ngModel)]="selectedWeek" required="true" [filter]="true" placeholder="Select a date"></p-dropdown>
     <p-dropdown [options]="groups" [(ngModel)]="selectedGroup" required="true" [filter]="true" placeholder="Select a group"></p-dropdown>
<p-table [value]="lessons" [resizableColumns]="true">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Номер занятия</th>
            <th>Название предмета</th>
            <th>Преподаватель</th>
            <th>Кабинет</th>
            <th></th>
        </tr>
    </ng-template> 
    <ng-template pTemplate="body" let-rowData let-i="rowIndex">
        <tr>
            <td *ngIf="i % 4 == 0" rowspan="4">{{daysOfWeek[ i / 4 ]}}</td>
            <td>{{ (i % 4) + 1 }}</td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                       <p-autoComplete [(ngModel)]="rowData.subject" [suggestions]="filteredSubjects" field="label" (completeMethod)="search($event)"  [dropdown]="true"></p-autoComplete>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.subject.label}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td (click)="displayModal(i)">
            <ul><li *ngFor="let row of rowData.locations">
                        {{getLecturerById(row.lecturer)}}
            </li></ul>
             </td>
             <td (click)="displayModal(i)">
            <ul><li *ngFor="let row of rowData.locations">
                        {{getRoomById(row.room)}}
            </li></ul>
             </td>
             <td>
                <p-button class="ui-button-info" icon="fa fa-times" (click)="clearRow(i)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
<ad-component [data]="items" (events)="receiveEvents($event)"></ad-component>
